* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr minmax(200px, 1fr) 2fr;
  justify-content: center;
  background-color: #eef0f2;
  user-select: none;
}

body > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

main {
  display: grid;
}

fieldset + div {
  display: flex;
  justify-content: center;
}

form > * {
  margin-bottom: 12px;
}

fieldset {
  display: flex;
  border-radius: 10px;
}

fieldset > div + div {
  margin-left: 12px;
}

[type="text"] {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #383d3b;
  padding: 8px;
}

[type="text"]:focus {
  outline: 0;
  border: 1px solid blue;
}

.hide-form {
  display: none;
}

.score {
  text-align: center;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  container-type: inline-size;
  margin-bottom: 12px;
}

.gameboard > * {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  outline: 1px solid black;
  font-weight: 300;
  font-size: 20cqw;
}

.cross {
  color: blue;
}

.nought {
  color: red;
}

.disabled-block {
  pointer-events: none;
}

.hide-button {
  display: none;
}

[class*="player"] {
  display: grid;
  align-content: center;
  justify-items: center;
  gap: 12px;
  background-color: #141414;
  padding: 3rem 0;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  margin: 0 5vw;
}

[class*="symbol"] {
  text-transform: capitalize;
}

button,
.gg {
  border: 0;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background-color: #383d3b;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}

.gg {
  background-color: #093824;
}

.hide-player,
.hide-gg {
  width: 0;
  height: 0;
  padding: 0;
}

button:hover,
.gg:hover {
  cursor: pointer;
}

button:active,
.gg:active {
  opacity: 0.5;
}
